{% load static %}

<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase mytext">We help you deliver products anywhere.</h5>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase mytext">More</h5>

        <ul class="list-unstyled">
          <li>
            <a href="{% url 'home' %}">Home</a>
          </li>
          <li>
            <a href="{% url 'aboutus' %}">About us</a>
          </li>
          <li>
            <a href="{% url 'contact_us' %}">Contact us</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase mytext">About us</h5>

        <ul class="list-unstyled">
          <li>
            <p class="mytext">Address:</p>
          </li>
          <li>
            <p class="mytext">Our Portfolio</p>
          </li>
          <li>
            <p class="mytext">Save today on delivery</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 mytext">© 2008-2020 Copyright
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->